{% extends '::base.html.twig' %}

{% block body %}

{% if is_granted('ROLE_VERSION_CREATE') %}
<a class="btn" href="{{ path('wits_version_new', {'project_id': project.id}) }}">{% trans %}Crear version{% endtrans %}</a>
{% endif %}
{% if versions %}
    <ul id="versions">
        {% for version in versions %}
        <li><a href="{{ path('wits_version_show', {'project_id': project.id, 'version_id': version.id }) }}">{{ version.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
