{% extends '::base.html.twig' %}

{% set title = version.name %}

{% block title %}{{ title }} - {{ project.name }}{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

{% if issues %}
    {% include 'WitsIssueBundle:Issue/Partial:issues_list.html.twig' %}
{% endif %}
{% endblock %}

{% block aside %}
    {% if is_granted('ROLE_VERSION_EDIT') %}
        <a class="btn btn-info" href="{{ path('wits_version_edit', {'project_id': project.id, 'version_id': version.id}) }}">{% trans %}label_edit{% endtrans %}</a>
    {% endif %}
{% endblock %}
