<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        {% stylesheets filter='?yui_css'
            '@WitsBootstrapBundle/Resources/bootstrap/css/bootstrap.css'
            '@WitsBootstrapBundle/Resources/bootstrap/css/bootstrap-responsive.css'
        %}
        <link href="{{ asset_url }}" media="screen" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="row">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success span12">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
    {% javascripts
            '@WitsBootstrapBundle/Resources/bootstrap/js/bootstrap.js'
            filter='?yui_js'
        %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    {% endblock %}
    </body>
</html>
