<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        {% stylesheets filter='?yui_css'
            '@WitsBootstrapBundle/Resources/bootstrap/css/bootstrap.css'
            '@WitsBootstrapBundle/Resources/bootstrap/css/bootstrap-responsive.css'
            '@WitsBootstrapBundle/Resources/bootstrap/css/jquery-ui-1.8.23.custom.css'
            '../app/Resources/sass/default.sass'
            '@WitsIssueBundle/Resources/sass/issue_show.sass'
        %}
        <link href="{{ asset_url }}" media="screen" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header>
        {% include '::nav.html.twig'%}
    </header>

    <div class="container body_container">
        <div id="push_nav" class="visible-desktop">&nbsp;</div>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    {% block breadcrumb %}
        <div id="breadcrumb">
            {% include 'WiakoweBreadcrumbBundle:Breadcrumb:show.html.twig' %}
        </div>
    {% endblock %}
    {% block rowfluid %}
        <div class="row-fluid">
            <div class="span9">
                {% block body %}{% endblock %}
            </div>
            <aside class="span3">
                <div id="aside_div">
                {% block aside %}{% endblock %}
                </div>
            </aside>
        </div>
    {% endblock %}

    </div>

    <footer class="container">
        {% include '::footer.html.twig' %}
    </footer>

    {% block javascripts %}
    {% javascripts
            '@WitsBootstrapBundle/Resources/bootstrap/js/jquery-1.8.1.js'
            '@WitsBootstrapBundle/Resources/bootstrap/js/bootstrap.js'
            '@WitsBootstrapBundle/Resources/bootstrap/js/jquery-ui-1.8.23.custom.min.js'
            '../app/Resources/public/js/default.js'
            filter='?yui_js'
        %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    {% endblock %}
    </body>
</html>
