<ul class="footer">
    <li>
        {% if project.logo is defined %}
            <img class="brand_mini" height="10px" src="{{ project.logo }}" alt="{{ project.name }}" />
        {% else %}
            <span class="brand">{{ project.name|upper }}</span>
        {% endif %}
    </li>
</ul>
