{% extends '::base.html.twig' %}

{% set title = issue.name ~ ' - ' ~ 'label_comment'|trans %}

{%  block title %}{{ title }}{%  endblock %}
{% block body %}

<h1>{{ title }}</h1>

<form action="" method="POST">
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="{% trans %}label_comment{% endtrans %}"/>
</form>
{% endblock %}
