{% extends '::base.html.twig' %}

{% set title = 'label_issues'|trans %}

{% if created is defined and created %}
    {% set title = title ~ ' - ' ~ 'created by %username%'|trans({'%username%': app.user.username}) %}
{% endif %}
{% if assigned is defined and assigned %}
    {% set title = title ~ ' - ' ~ 'assigned to %username%'|trans({'%username%': app.user.username}) %}
{% endif %}

{% if status_id is defined and status_id %}
    {% set issue_status = 'label_issue_status_new' %}
    {% if status_id == constant('Wits\\IssueBundle\\Entity\\Issue::STATUS_ASSIGNED') %}
        {% set issue_status = 'label_issue_status_assigned' %}
    {% elseif status_id == constant('Wits\\IssueBundle\\Entity\\Issue::STATUS_WORKING') %}
        {% set issue_status = 'label_issue_status_working' %}
    {% elseif status_id == constant('Wits\\IssueBundle\\Entity\\Issue::STATUS_RESOLVED') %}
        {% set issue_status = 'label_issue_status_resolved' %}
    {% elseif status_id == constant('Wits\\IssueBundle\\Entity\\Issue::STATUS_CLOSED') %}
        {% set issue_status = 'label_issue_status_closed' %}
    {% endif %}
    {% set issue_status = issue_status|trans %}

    {% set title = title ~ ' - ' ~ 'Status %issue_status%'|trans({'%issue_status%': issue_status}) %}
{% endif %}



{% block title %}{{ title }} - {{ project.name }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

{% include 'WitsIssueBundle:Issue/Partial:issues_by_type.html.twig' %}

{% include 'WitsIssueBundle:Issue/Partial:issues_list.html.twig' %}

{% endblock %}

{% block aside %}
{% if is_granted('ROLE_ISSUE_CREATE') %}
    <a class="btn btn-success" href="{{ path('wits_issue_new', {'project_id': project.id}) }}">{% trans %}label_create_issue{% endtrans %}</a>
{% endif %}
{% if is_granted('ROLE_VERSION_LIST') %}
    {% include 'WitsProjectBundle:Version/Partial:list.html.twig' %}
{% endif %}

{% endblock %}
