{% extends '::base.html.twig' %}

{% block body %}

{{ issue.name }}
<br />
<a href="{{ path('wits_comment_create', {'project_id': project.id, 'issue_id': issue.id }) }}">Comentar</a>

{% if comments %}
<ul id="comments">
    {% for comment in comments %}
    <li>{{ comment.comment }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
