{% extends '::mail.html.twig' %}

{% block body %}

{% trans with {'%name%': issue.creator.fullName} %}label_email_issue_upper_text{% endtrans %}

<p>{% trans with {'%issue_title%': issue.name} %}label_email_issue_updated_upper_p_text{% endtrans %}</p>

{% if (issue.assignee != issueOld.assignee) %}
<p>{% trans with {'%issue_assignee%': issue.assignee.userName} %}label_email_issue_updated_assignee_upper_p_text{% endtrans %}</p>
{% endif %}

{% if (issue.status != issueOld.status) %}
<p>{% trans with {'%issue_status%': issue.statusName|trans} %}label_email_issue_updated_status_upper_p_text{% endtrans %}</p>
{% endif %}

<p>{% trans %}label_email_issue_lower_p_text{% endtrans %}</p>

{% set url_path = url('wits_issue_show', {'project_id': issue.project.id, 'issue_id': issue.id}) %}
<a href="{{ url_path }}">{{ url_path }}</a>
<br />
{% trans %}label_email_issue_sign{% endtrans %}
<br />
WITS
<br />
{% endblock %}
