{% if versions %}
<h4>{{ 'label_versions'|trans }}</h4>
<table id="versions" class="table">
    <tbody>
    {% for version in versions %}
        <tr>
            <td><a href="{{ path('wits_version_show', {'project_id': project.id, 'version_id': version.id}) }}">{{ version.name}}</a></td>
            <td>{% if version.dateEnd %}{{ version.dateEnd|date('Y-m-d') }}{% else %}{% trans %}label_date_not_set{% endtrans %}{% endif %}</td>
            <td>{% include 'WitsProjectBundle:Version/Partial/Bootstrap:version_status.html.twig' %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
