{% if comments %}

<h4>{{ 'label_comments'|trans }}</h4>

<ul id="comments" class="list">
    {% for comment in comments %}
    <li>
        <div class="table_text">{{ comment.comment }}</div>
        <div class="table_text_small">Creador por {{ comment.user }} el {{ comment.createdAt|date('d/m/y h:i:s') }}</div>
    </li>
    {% endfor %}
</ul>
{% endif %}
