{% if comments %}


<ul id="comments" class="list">
    <li><h4>{{ 'label_comments'|trans }}</h4>
    </li>
    {% for comment in comments %}
    <li id="{{ comment.id }}">
        <div class="table_text">#{{ comment.id }} - {{ comment.comment|nl2br }}</div>
        <div class="table_text_small">{% trans with{'%comment_creator%': comment.user, '%comment_date%': comment.createdAt|date('d/m/y h:i:s')} %}Creador por %comment_creator% el %comment_date%{% endtrans %}</div>
    </li>
    {% endfor %}
</ul>
{% endif %}
