@import "variables.sass"

body
  background-color: $bgColor

ul, ol
  list-style: none outside none
  margin: 0

#push_nav
  height: 40px

div.body_container
  background-color: white
  border: 10px solid white
  border-bottom-width: 20px
  +box-shadow(darken($bgColor, 50%) 0px 0px 1px)

.navbar-inner
  +border-radius(0px)
  border-width: 0px

#aside_div
  a.btn
    display: block

form
  input[type=submit]
    float: left
    margin-top: 15px

footer
  height: 30px
  background-color: $linearEnd
  border: 10px solid $linearEnd
  border-bottom-width: 0px
  +box-shadow(darken(black, 50%) 0px 0px 1px)
  color: $linearText

.footer_div
  height: 30px
  background-color: $linearEnd
  +box-shadow(darken(black, 50%) 0px 0px 1px)
  color: $linearText
  padding: 10px !important

.list
  li
    margin: 5px
    padding-top: 5px
    border-top: 1px solid $bgColor
    &:first-child
      padding-top: 0px
      border-top-width: 0px
  .table_id
    text-align: center
    a
      background-color: $linearEnd
      color: $linearText
      font-size: 1.2em
      font-weight: bold
      padding: 5px 5px 10px 5px
      color: $linearText
  .table_text
    font-size: 1.1em
  .table_text_small
    font-size: 0.8em
  .priority
    font-size: 0.9em
    text-align: center
    border: 1px solid black
    padding: 1px 2px
    margin-bottom: 5px


.btn
  font-weight: bold

.navbar
  img.brand
    height: 30px
    padding: 5px 5px 5px 20px

img.brand_mini
  float: left
  height: 20px
  padding: 0px 20px 0 0

div.block
  float: left
  width:  100%

