{% extends '::base.html.twig' %}

{% block body %}

<form action="" method="POST">
    {{ form_widget(form) }}
    {%  if user.id %}
    {%  set label = 'label_edit' %}
    {%  else %}
    {%  set label = 'label_create' %}
    {%  endif  %}
    <input class="btn btn-primary" type="submit" value="{{ label|trans }}"/>
</form>
{% endblock %}
