{% extends '::base.html.twig'%}
{% block body %}
<h1>{% trans %}Usuarios{% endtrans %}</h1>
<a class="btn" href="{{ path('wits_users_new', {'project_id': project_id}) }}">Registrar usuario</a>
{% if (users) %}
<ul id="users">
    {% for user in users %}
    <li><a href="{{ path('wits_users_edit', {'user_id': user.id, 'project_id': project_id}) }}">{{ user.username }}</a></li>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}
