{% extends '::base_login.html.twig'%}

{% set title = 'label_register'|trans %}
{% block title %}{{ title }}{%  endblock %}

{% block body %}
<h1>{{ title }}</h1>

<form class="form-horizontal" action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <br />
    <input class="btn btn-primary" type="submit" value="{% trans %}label_register{% endtrans %}"/>
</form>
{% endblock %}
