{% extends '::base.html.twig' %}

{% set title = 'label_user_reset_passwork_link_invalid'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<div class="error">
{% trans %}label_user_reset_passwork_link_invalid{% endtrans %}
</div>
{% endblock %}
