{% extends '::base_login.html.twig'%}

{% block body %}
<h1>{% trans %}label_user_reset_password{% endtrans %}</h1>
<form action="" method="post">
    {{ form_widget(form) }}
    <input type="submit" value="{% trans %}label_user_reset_password{% endtrans %}" />
</form>
{% endblock %}
