{% extends '::base_login.html.twig'%}

{% set title = 'label_user_forget_password'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<form target="" method="post">
    {{ form_widget(form) }}
    <input value="{% trans %}label_send{% endtrans %}" type="submit" />
</form>
{% endblock %}
